@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

:root {
  /* primary colors */
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);

  /* secundary colors */
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);

  /* font family */
  --font-family: 'Poppins', sans-serif;

  /* change mode */
  --background-image: url(https://raw.githubusercontent.com/izanmaizan/kalkulator-umur/main/assets/images/light.jpg);
  --text-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.change-mode
{
  --background-image: url(https://raw.githubusercontent.com/izanmaizan/kalkulator-umur/main/assets/images/dark.jpg);
  transition: background-image 1s ease-in-out;
  --text-color: #ffffff;
}

body {
  min-width: 320px;
  font-family: var(--font-family);
  background-color: var(--light-grey);
  place-items: center;
  height: 100vh;
  display: grid;
  padding: 0px 20px;
  margin: 1px;
  background-image: var(--background-image);
  transition: background-image 1s ease-in-out;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--text-color);
}

.toggle
{
  display: flex;
  flex-direction: column;
  position: absolute;
  align-self: flex-start;
  width: 95%;
  max-width: 100%;
  height: 70px;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 650px;
  height: 500px;
  border-radius: 20px 20px 140px 20px;
  padding: 40px;
  background-color: var(--white);
  margin-top: 70px auto 0;
}

header form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 23px;
  height: 100%;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--light-grey);
}

header form .calcInput-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header form .calcInput-container .calcInput-date {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 5px;
  letter-spacing: 2px;
  color: var(--smokey-grey);
}

header form .calcInput-container input::placeholder {
  font-weight: 800;
  color: var(--smokey-grey);
}

header form .calcInput-container input {
  width: 100%;
  max-width: 130px;
  height: 55px;
  padding: 20px 10px;
  font-size: 32px;
  font-weight: 800;
  border-radius: 5px;
  border: 1px solid var(--light-grey);
  outline: none;
  color: var(--off-black);
}

.arrowIcon-button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  width: 65px;
  height: 65px;
  margin-top: 155px;
  margin-right: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--purple);
}

.arrowIcon-button:hover {
  background-color: var(--off-black);
}

.arrowIcon-container .arrow-icon {
  width: 40px;
  height: 40px;
}

main {
  display: flex;
  height: 100%;
  align-items: center;
}


main .calcAge-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

main .calcAge-container p {
  font-style: italic;
  font-size: clamp(30px, 10vw, 60px);
  font-weight: 800;
  color: var(--off-black);
}

main .calcAge-container p>span:first-child {
  color: var(--purple);
  margin: 0;
}

.calcInput-error {
  display: none;
  margin-top: 5px;
  font-size: 14px;
  font-style: italic;
  color: var(--light-red);
}


header form .calcInput-container .calcInput-errorDate {
  color: var(--light-red);
}

header form .calcInput-container .input-error {
  border: 1px solid;
  border-color: var(--light-red);
}

.active {
  display: block;
}

nav
{
  margin-left: 25px;
  margin-top: 5px;
  padding: 20px;
  background-color: transparent;
  transition: .5s;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

input[type="checkbox"]
{
  position: relative;
  width: 80px;
  height: 40px;
  appearance: none;
  background-color: var(--light-grey);
  outline: none;
  border-radius: 15px;
  transition: .5s ease;
  cursor: pointer;
  top: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
}

input[type="checkbox"]:checked
{
  background-color: #000063;
}

input[type="checkbox"]::before
{
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url("https://raw.githubusercontent.com/izanmaizan/kalkulator-umur/main/assets/images/switch.png");
  background-size: cover; /* Atur ukuran gambar agar sesuai dengan kotak */
  background-color: #fcfcfc;
  background-size: 25px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: .5s ease;
}

input[type="checkbox"]:checked::before
{
  transform: translateX(50px);
}
